<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta http-equiv="refresh" content="300">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/octicons.css">
  <style>
      body {
          padding: 0 20px;
      }
      .event {
          border-top: 1px solid #f1f1f1;
          padding: 10px;
      }

      .event .mega-octicon {
          width: 32px;
          color: #888;
      }

      .event time {
          color: #888;
      }

      .event .lead {
          margin: 0 5px;
      }
  </style>
</head>

<body>

<h1>Activity</h1>

{% for event in events %}
<div class="event">
    <span class="mega-octicon octicon-{{ event.icon }}"></span>
    <span class="lead">{{ event.body }}</span>
    <time datetime="{{ event.time }}">{{ event.timeago }}</time>
</div>
{% endfor %}

</body>
</html>
